$base-font: 10px;
$primary-color: rgb(128, 0, 255);
$background-color: #eee;
$default-border: 0.1rem solid #999;

$error-bg-color: rgb(255, 128, 128);
$error-border: 0.1rem solid rgb(255, 0, 0);

$success-bg-color: rgb(130, 255, 130);
$success-border: 0.1rem solid rgb(0, 255, 0);